<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% set project = "Animal Gallery" %}
{% set subheading = "Gallery with different categories." %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Change "imageurl" to a directory or link
    This is the background image, so if you add any new images,
    make sure to add them to the backgrounds folder -->
{% set imageurl = "/static/assets/backgrounds/forest.jpeg" %}

<!-- Add code inside the "block under" to add items below the block -->
{% block under %}

    <style>

        .container {
            position: relative;
            display: flex;
            margin-bottom: 20%;
        }


        .container img {
            width: 70vw;
            height: 30vw;
            object-fit: cover;
            border-radius: 2vw;
        }


        .container .btn {
            position: absolute;
            width: 5vw;
            height: 2vw;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #0d6efd;
            color: white;
            font-size: 0.5vw;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .container .desc {
            position: absolute;
            width: 10vw;
            height: 12vw;
            top: 30%;
            left: 80%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            font-size: 0.7vw;
            padding: 0.5vw 0.5vw;
            border: 1px #000000;
            border-radius: 0.5vw;
        }

        .container .btn:hover {
            background-color: #0d35fc;
        }

    </style>

    <script>
        window.onload = function btnlizard(){
            document.getElementById("apebtn").style.display="none";
            document.getElementById("birdbtn").style.display="none";
            document.getElementById("lizardbtn").style.display="block";
        };

        function btnlizard(){
            document.getElementById("apebtn").style.display="none";
            document.getElementById("birdbtn").style.display="none";
            document.getElementById("lizardbtn").style.display="block";
            var element = document.getElementById("liveToast");
            var myToast = new bootstrap.Toast(element);
            myToast.show();
        }

        function btnbird(){
            document.getElementById("apebtn").style.display="none";
            document.getElementById("birdbtn").style.display="block";
            document.getElementById("lizardbtn").style.display="none";
            var element = document.getElementById("liveToast2");
            var myToast = new bootstrap.Toast(element);
            myToast.show();
        }

        function btnape(){
            document.getElementById("apebtn").style.display="block";
            document.getElementById("birdbtn").style.display="none";
            document.getElementById("lizardbtn").style.display="none";
            var element = document.getElementById("liveToast3");
            var myToast = new bootstrap.Toast(element);
            myToast.show();
        }



    </script>




<div class="parallax" style="height:max-content">
    <div class="frame" style="background-color: rgba(0,0,0, 0.5); padding: 5%; width: 80%; margin: auto; height: max-content">
        <div class="d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="Button Group">
            <button class="btn btn-primary"  onclick="btnlizard()">Lizards</button>
            <button class="btn btn-primary"  onclick="btnbird()">Birds</button>
            <button class="btn btn-primary"  onclick="btnape()">Apes</button>
            </div>
        </div>
        <!-- Carousel -->
        <div id="lizardbtn">

            <div class="d-flex justify-content-center mb-3">
                <h1>Lizards</h1>
            </div>




            <script>

                const imagelistLizard = ["chameleon.jpg",
                    "FrilledL.jpg",
                    "Tegu.jpg",
                    "verdian-chua-lizard-unsplash.jpg",
                    "Water Monitor.jpg"
                ]

                const ILLLength = imagelistLizard.length;

                function randomImageLizard(){
                    var numgen = Math.floor(Math.random() * ILLLength);
                    var imagepick = imagelistLizard[numgen];
                    var path = "/static/assets/animalgallery/lizards/";

                    document.getElementById('randomImageLizard').src = path + imagepick;
                    document.getElementById('filenameLizard').innerHTML = imagepick;
                }

            </script>


            <div class="justify-content-md-center">
                <div class="container">
                    <img id="randomImageLizard" src="/static/assets/animalgallery/lizards/chameleon.jpg" alt="Lizards">
                    <div class="desc" style="background-color: white;">
                        <p class="card-text" style="color: black; font-weight: 700">Lizard Randomizer</p>
                        <p class="card-text" style="color:black"> This randomizes lizard images</p>
                        <p class="card-text" style="color:black"> File name: <b id="filenameLizard">chameleon.jpg</b></p>
                        <p class="card-text" style="color: dimgrey"> Or browse all images in the gallery below.</p>
                    </div>
                    <button class="btn" onclick="randomImageLizard()">Randomize!</button>
                </div>
            </div>

        <div id="lizard" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#lizard" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#lizard" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#lizard" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#lizard" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#lizard" data-bs-slide-to="4"></button>
        </div>

            <!-- The slideshow/carousel -->

            <div class="carousel-inner" style="height: 80vh">
                <div class="carousel-item active">
                    <img src="/static/assets/animalgallery/lizards/verdian-chua-lizard-unsplash.jpg" alt="Verdian" class="d-block w-100 h-75" style="object-fit: cover">
                    <div class="carousel-caption">
                        <h3>Veridian Chua Lizard</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/assets/animalgallery/lizards/chameleon.jpg" alt="Chameleon" class="d-block w-100 h-75" style="object-fit: cover">
                    <div class="carousel-caption">
                        <h3>Chameleon</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/assets/animalgallery/lizards/FrilledL.jpg" alt="Frilled Lizard" class="d-block w-100 h-75" style="object-fit: cover">
                    <div class="carousel-caption">
                        <h3>Frilled Lizard</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/assets/animalgallery/lizards/Tegu.jpg" alt="Tegu" class="d-block w-100 h-75" style="object-fit: cover">
                    <div class="carousel-caption">
                        <h3>Tegu</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/assets/animalgallery/lizards/Water Monitor.jpg" alt="Water Monitor" class="d-block w-100 h-75" style="object-fit: cover">
                    <div class="carousel-caption">
                        <h3>Water Monitor</h3>
                    </div>
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#lizard" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#lizard" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
            </div>
        </div>

        <div id="birdbtn">

            <div class="d-flex justify-content-center mb-3">
                <h1>Birds</h1>
            </div>




            <script>

                const imagelistBird = ["flamingo.jpg",
                    "jan-meeus-bird-unsplash.jpg",
                    "kookaburra.jpg",
                    "Ostrich.jpg",
                    "parrot.jpg",
                    "toucan.jpg"
                ]

                const ILBLength = imagelistBird.length;

                function randomImageBird(){
                    var numgen = Math.floor(Math.random() * ILBLength);
                    var imagepick = imagelistBird[numgen];
                    var path = "/static/assets/animalgallery/birds/";

                    document.getElementById('randomImageBird').src = path + imagepick;
                    document.getElementById('filenameBird').innerHTML = imagepick;
                }

            </script>

            <div class="justify-content-md-center">
                <div class="container">
                    <img id="randomImageBird" src="/static/assets/animalgallery/birds/flamingo.jpg" alt="Birds">
                    <div class="desc" style="background-color: white;">
                        <p class="card-text" style="color: black; font-weight: 700">Bird Randomizer</p>
                        <p class="card-text" style="color: black"> This randomizes bird images</p>
                        <p class="card-text" style="color:black"> File name: <b id="filenameBird">flamingo.jpg</b></p>
                        <p class="card-text" style="color: dimgrey"> Or browse all images in the gallery below.</p>
                    </div>
                    <button class="btn" onclick="randomImageBird()">Randomize!</button>
                </div>
            </div>

        <div id="bird" class="carousel slide" data-bs-ride="carousel">


            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#bird" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#bird" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#bird" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#bird" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#bird" data-bs-slide-to="4"></button>
            </div>

            <!-- The slideshow/carousel -->

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/assets/animalgallery/birds/flamingo.jpg" alt="flamingo" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Flamingo</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/assets/animalgallery/birds/kookaburra.jpg" alt="kookaburra" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Kookaburra</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/assets/animalgallery/birds/Ostrich.jpg" alt="ostrich" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Ostrich</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/assets/animalgallery/birds/parrot.jpg" alt="parrot" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Parrot</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/assets/animalgallery/birds/toucan.jpg" alt="Toucan" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Toucan</h3>
                    </div>
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#bird" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#bird" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        </div>

        <div id="apebtn">

            <div class="d-flex justify-content-center mb-3">
                <h1>Apes</h1>
            </div>




            <script>

                const imagelistApe = ["chimpanzee.jpg",
                    "gibbon.jpg",
                    "gorilla.jpg",
                    "orangutan.jpg",
                    "siamang.jpg"
                ]

                const ILALength = imagelistApe.length;

                function randomImageApe(){
                    var numgen = Math.floor(Math.random() * ILALength);
                    var imagepick = imagelistApe[numgen];
                    var path = "/static/assets/animalgallery/apes/";

                    document.getElementById('randomImageApe').src = path + imagepick;
                    document.getElementById('filenameApe').innerHTML = imagepick;
                }

            </script>

            <div class="justify-content-md-center">
                <div class="container">
                    <img id="randomImageApe" src="/static/assets/animalgallery/apes/chimpanzee.jpg" alt="Apes">
                    <div class="desc" style="background-color: white;">
                        <p class="card-text" style="color: black; font-weight: 700">Ape Randomizer</p>
                        <p class="card-text" style="color: black"> This randomizes ape images</p>
                        <p class="card-text" style="color:black"> File name: <b id="filenameApe">chimpanzee.jpg</b></p>
                        <p class="card-text" style="color: dimgrey"> Or browse all images in the gallery below.</p>
                    </div>
                    <button class="btn" onclick="randomImageApe()">Randomize!</button>
                </div>
            </div>


        <!-- Carousel -->
        <div id="ape" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#ape" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#ape" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#ape" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#ape" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#ape" data-bs-slide-to="4"></button>
            </div>

            <!-- The slideshow/carousel -->

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/assets/animalgallery/apes/chimpanzee.jpg" alt="Chimpanzee" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Chimpanzee</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/assets/animalgallery/apes/gibbon.jpg" alt="gibbon" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Gibbon</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/assets/animalgallery/apes/gorilla.jpg" alt="gorilla" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Gorilla</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/assets/animalgallery/apes/orangutan.jpg" alt="orangutan" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Orangutan</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/assets/animalgallery/apes/siamang.jpg" alt="siamang" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Siamang</h3>
                    </div>
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#ape" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#ape" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>

    </div>
    </div>
</div>
<div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="/static/assets/lizardicon-nicepng.png" height="15px" width="15px" class="rounded me-2" alt="...">
                <strong class="me-auto">Animal Gallery</strong>
                <small>Just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" style="color: black">
                Switched to Lizards.
            </div>
        </div>
    </div>
</div>
    <div>
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast2" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="/static/assets/lizardicon-nicepng.png" height="15px" width="15px" class="rounded me-2" alt="...">
                    <strong class="me-auto">Animal Gallery</strong>
                    <small>Just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" style="color: black">
                    Switched to Birds.
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast3" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="/static/assets/lizardicon-nicepng.png" height="15px" width="15px" class="rounded me-2" alt="...">
                    <strong class="me-auto">Animal Gallery</strong>
                    <small>Just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" style="color: black">
                    Switched to Apes.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
