<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% set project = "API Test" %}
{% set subheading = "Testing API and Randomization" %}

<!-- Change "imageurl" to a directory or link
    This is the background image, so if you add any new images,
    make sure to add them to the backgrounds folder -->
{% set imageurl = bgimage %}

<!-- Add code inside the "block under" to add items below the block -->
{% block under %}

    <div class="parallax" style="height:20%"></div>
    <div class="parallax" style="height:max-content">
        <div class="frame" style="background-color: rgba(0,0,0, 0.5); width: 80%; margin: auto; padding: 1%;align-items: center; ">
            <div class="d-flex justify-content-center">
                <h3>
                    This page is for testing the API image background changer upon refresh (CURRENTLY WIP)
                </h3>
            </div>
        </div>
    </div>

    <div class="parallax" style="height: 10%"></div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
