<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/dtsivkovski/flask_portfolio">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href="/about-us">About Us</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Team
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/armaan">Armaan</a>
                    <a class="dropdown-item" href="/daniel">Daniel</a>
                    <a class="dropdown-item" href="/chris">Chris</a>
                    <a class="dropdown-item" href="/timmy">Timmy</a>
                </div>

            </li>
            <!-- stub is shown using the name of the route -->
            <a class="nav-link" href="/minilabs">Mini-Labs</a>
            <a class="nav-link" href="/binary">Binary</a>
            <a class="nav-link" href="/stub">Stub</a>

        </div>
    </div>
</nav>