<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <img src="/static/assets/pacman.png" width="46" style="padding-right: 7px; padding-top: 5px" class="align-center" alt="">
    <a class="navbar-brand" href="/" style="font-family: Georgia">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <li class="nav-item">
                <a class="nav-link" href="/animalgallery">Animal Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wireframe">Goal/Wireframe</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pac-Man Bytes Team
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/armaan">Armaan</a>
                    <a class="dropdown-item" href="/daniel">Daniel</a>
                    <a class="dropdown-item" href="/chris">Chris</a>
                    <a class="dropdown-item" href="/timmy">Timmy</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Testing
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/apitesting">API </a>
                    <a class="dropdown-item" href="/techtest">Technical Tests</a>
                    <a class="dropdown-item" href="/stub">Stub</a>
                    <a class="dropdown-item" href="/danielvar">Daniel's Test Page</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mini-Labs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/minilabs"> Greet + Video Journals </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#binarylabs"> Binary Labs </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#imagelabs"> Image/Color Labs </a>
                </div>
            </li>
            <!-- this is left in in case we need ungrouped navbar references
            <a class="nav-link" href="/minilabs">Mini-Labs</a>
            <a class="nav-link" href="/binary">Binary</a>
            <a class="nav-link" href="/stub">Stub</a>
            -->
        </ul>
    </div>
</nav>

<div class="offcanvas offcanvas-start" id="binarylabs" style="background-color: #333333" style="height: max-content; width: 100%">
    <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-header">
        <h2 class="offcanvas-title ml-3" style="color: white"> Binary Mini-Labs </h2>
    </div>
    <div class="offcanvas-body">
        <div class="container">
            <div class="row">
                <div class="col justify-content-md-center">
                    <button class="btn btn-primary m-3" type="button" onclick="location.href='/binary'">Main Binary Lab</button>
                </div>
                <div class="col justify-content-md-center">
                    <button class="btn btn-primary m-3" type="button" onclick="location.href='/unicodetest'">Unicode - ASCII</button>
                </div>
                <div class="col justify-content-md-center">
                    <button class="btn btn-primary m-3" type="button" onclick="location.href='/logicgates'">Logic Gates</button>
                </div>
                <div class="col justify-content-md-center">
                    <button class="btn btn-primary m-3" type="button" onclick="location.href='/signedaddition'">Signed Addition</button>
                </div>
                <div class="col justify-content-md-center">
                    <button class="btn btn-primary m-3" type="button" onclick="location.href='/unsignedaddition'">Unsigned Addition</button>
                </div>
                <div class="col justify-content-md-center">
                    <button class="btn btn-primary m-3" type="button" onclick="location.href='/colorcodes'">Color Codes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" id="imagelabs" style="background-color: #333333">
    <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-header">
        <h2 class="offcanvas-title ml-3" style="color: white"> Image/Color Mini-Labs </h2>
    </div>
    <div class="offcanvas-body">
        <div class="container">
            <div class="row">
                <div class="col justify-content-md-center">
                    <button class="btn btn-primary m-3" type="button" onclick="location.href='/colorcodes'">Color Codes</button>
                </div>
                <div class="col justify-content-md-center">
                    <button class="btn btn-primary m-3" type="button" onclick="rgbonclick()">RGB Image Lab</button>
                </div>
                <div class="col justify-content-md-center">
                    <button class="btn btn-primary m-3" type="button" onclick="location.href='/animalgallery'">Animal Gallery</button>
                </div>
                <div class="col justify-content-md-center">
                    <button class="btn btn-primary m-3" type="button" onclick="location.href='/apitesting'">Random Image Test</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function rgbonclick(){
            var modal = document.getElementById("rgbModal");

            modal.style.display = "block";
            location.href='/rgb';
        }
    </script>
</div>

<div class="modal" id="rgbModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #333333">

            <div class="modal-header">
                <h4 class="modal-title" style="color: white">Loading RGB Lab...</h4>
                <div class="spinner-border text-danger"></div>
            </div>

            <div class="modal-body" style="color: white">
                Please wait, this takes about 5-15 seconds.
            </div>

        </div>
    </div>
</div>