<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="/static/assets/pacman.png" width="46" height="38" style="padding-right: 10px; padding-top: 5px" class="align-center" alt="">
    <a class="navbar-brand" href="/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Team
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/armaan">Armaan</a>
                    <a class="dropdown-item" href="/daniel">Daniel</a>
                    <a class="dropdown-item" href="/chris">Chris</a>
                    <a class="dropdown-item" href="/timmy">Timmy</a>
                    <a class="dropdown-item" href="/about-us">About Us</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Testing
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/stub">Stub</a>
                    <a class="dropdown-item" href="/danielvar">Daniel's Test Page</a>
                    <a class="dropdown-item" href="/wireframe">Wireframe</a>
                    <a class="dropdown-item" href="/techtest">Tech Test</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mini-Labs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/minilabs">Greet + Video Journals </a>
                    <a class="dropdown-item" href="/rgb">RGB Page</a>
                    <a class="dropdown-item" href="/binary">Binary</a>
                    <a class="dropdown-item" href="/unicodetest">Unicode - ASCII</a>
                    <a class="dropdown-item" href="/colorcodes">Color Codes</a>
                    <a class="dropdown-item" href="/logicgates">Logic Gates</a>
                    <a class="dropdown-item" href="/signedaddition">Signed Addition</a>
                </div>
            </li>
            <!-- this is left in in case we need ungrouped navbar references
            <a class="nav-link" href="/minilabs">Mini-Labs</a>
            <a class="nav-link" href="/binary">Binary</a>
            <a class="nav-link" href="/stub">Stub</a>
            -->
        </div>
    </div>
</nav>