{% extends "layouts/base.html" %}
{% set imageurl = "/static/assets/backgrounds/deepwaterrock.jpg" %}
{% block body %}
    <script>
        function logic() {
            var Atoggled = document.getElementById("A").checked
            var Btoggled = document.getElementById("B").checked
            if ( Atoggled && Btoggled ) { // AND bitwise
                document.getElementById("AND-result").innerHTML = "1"; // AND
                document.getElementById("NAND-result").innerHTML = "0"; // NAND
            } else {
                document.getElementById("AND-result").innerHTML = "0"; // AND
                document.getElementById("NAND-result").innerHTML = "1"; // NAND
            }
            if ( Atoggled || Btoggled ) { // OR bitwise
                document.getElementById("OR-result").innerHTML = "1"; // OR
                document.getElementById("NOR-result").innerHTML = "0"; // NOR
            } else {
                document.getElementById("OR-result").innerHTML = "0"; // OR
                document.getElementById("NOR-result").innerHTML = "1"; // NOR
            }
            if ( Atoggled ^ Btoggled ) { // XOR bitwise
                document.getElementById("XOR-result").innerHTML = "1"; // XOR
                document.getElementById("XNOR-result").innerHTML = "0"; // XNOR
            } else {
                document.getElementById("XOR-result").innerHTML = "0"; // XOR
                document.getElementById("XNOR-result").innerHTML = "1"; // XNOR
            }
        }
    </script>

    <style>
        html, body{
            background-color: blueviolet;
        }
        h1 {
            font-family: "Times New Roman";
            font-size: 200px;
            text-align: center;

    </style>

    </script>
    <div class="parallax">
        <div class="frame" style="background-color: rgba(0,0,0, 0.5); padding: 5%; width: 80%; margin: auto; height:max-content">

    <div style="text-align: center">
        <br>
        <h1>Logic Gates</h1>
        <input type="checkbox" id="A" name="optionA" value="A" onclick="logic(this)">
        <label for="optionA">A</label>
        <input type="checkbox" id="B" name="optionB" value="B" onclick="logic(this)">
        <label for="optionA">B</label>
        <p style="font-size: 12px">Checked = 1 Unchecked = 0</p>

        <table>
            <tr>
                <th>SYMBOL</th>
                <th>LOGIC GATE</th>
                <th>RESULT</th>
            </tr>
            <tr id="AND">
                <td><img src="/static/Logic-Gate/AND_LG.png" width="400px" height="200px"></td>
                <td><p>AND</p></td>
                <td id="AND-result">0</td>
            </tr>

            <tr id="NAND">
                <td><img src="/static/Logic-Gate/N-AND_LG.png" width="400px" height="200px"></td>
                <td><p>N-AND</p></td>
                <td id="NAND-result">1</td>
            </tr>

            <tr id="OR">
                <td><img src="/static/Logic-Gate/OR_LG.png" width="400px" height="200px"></td>
                <td><p>OR</p></td>
                <td id="OR-result">0</td>
            </tr>

            <tr id="NOR">
                <td><img src="/static/Logic-Gate/N-OR_LG.png" width="400px" height="200px"></td>
                <td><p>N-OR</p></td>
                <td id="NOR-result">1</td>
            </tr>

            <tr id="XOR">
                <td><img src="/static/Logic-Gate/X-OR_LG.png" width="400px" height="200px"></td>
                <td><p>X-OR</p></td>
                <td id="XOR-result">0</td>
            </tr>

            <tr id="XNOR">
                <td><img src="/static/Logic-Gate/X-NOR_LG.png" width="400px" height="200px"></td>
                <td><p>X-NOR</p></td>
                <td id="XNOR-result">0</td>
            </tr>

        </table>
    </div>
    </div>
    </div>

{% endblock %}