{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About Us" %}

{% block body %}
    <style>
        .main {
            display: flex;
            align-items: center;
            justify-content: center;
        }


    </style>
<div class="jumbotron" style="width: 60%; margin: auto">
    <div>
        <div>
            <div style="color: black; font-size: larger; margin: 5% 10% 0 10%; text-align: center">
                We are Pac-Man Bytes, and we're creating a project to randomly generate images of different animals.
            </div>
        </div>
    </div>
</div>
    <div>
        <div class="main">
            <img src="/static/assets/pacman.png" style="height: 480px" alt="Pac-man Image">
        </div>
    </div>
<div class="jumbotron">
    <div>
            <div style="color: black; font-size: larger; margin: 5% 10% 0 10%;text-align: center">
                Currently, our project is planned to show random animal images with the press of a button, as well as the ability to let the user share or download the specific image.
            </div>
    </div>
</div>
<div>
 <!--
 img= Image.open(pacman.png)
 d1 = ImageDraw.Draw(img)
 d1.text((28,36), "test", fill-(255, 0, 0))
 img.show()
 img.save("images/pacman.png")
 -->
</div>
{% endblock %}

<!-- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

