<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to walruses -->
{% set project = "Armaan's" %}

    {%  block body %}
<body style="background-color: red; text-align: center ">
        <div style="font-size: larger; margin: 8%;">
            Hello my name is Armaan Shamsaasef and I am a student of AP Computer Science Principles at Del Norte High School.
        </div>
        <div>
            <img src="/static/assets/armaan.jpeg" style="height: 360px; margin: 2%" alt="Armaan's Photo">
        </div>
</body>
    {% endblock %}
{% block background %}
{% endblock %}