<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <div style="color: orange; font-family: Georgia; font-size: larger; margin: 5% 10% 0 10%; text-align: center">

        <div>
            Hi, I am Daniel Tsivkovski!
        </div>

        <img src="/static/assets/danielimg.png" style="height: 360px; margin: 2%; width: 1000px; height: 200px" alt="Daniel Tsivkovski's Photo">

        <div style="margin: 2%">
            I am a junior at Del Norte High School taking AP Computer Science. I am part of the Pac-Man Bytes team working on this project.
        </div>

    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}