<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Greet" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->



    <div class="center-block" style="margin: 0 0 0;background-color:midnightblue; text-align:left; font-family: gilroy,serif;">
        <div class="col-12" style="color:midnightblue;">
            <p>
            Placeholder
            </p>
        </div>
        <div class="col-12" style="margin: 5% 5% 0">
            <div class="col-12">
                <img src="/static/assets/pacman.png" style="height: 50px" alt="Pac-man Image">
                <!- Pacman art from "Pacman vs." >
            </div>
        </div>
            <div class="col-12" style="margin: 1% 5% 0">
                <form action="/greet" id="greet" method="POST" >
                    <label for="name">Type a greeting name?</label>
                    <input name="name" id="name">
                    <input type="submit" value="Greetings!">
                </form>
            </div>
        <div class="col-12" style="margin: 1% 5% 0">
            <p>
                Hello, {{name}}! This is our video journal. Feel free to browse our video collection below.
                </p>
        </div>
        <div class="col-12" style="margin: 1% 5% 0">
            <iframe
                    src="https://drive.google.com/file/d/1PaiwvEkYpN_Ou37D_mVsXO_Qq9D7NVzX/preview" width="640" height="360" allow="autoplay">
            </iframe>
            <p>
                Tech Talk 0 - Tools and Equipment, showing competency in IntelliJ
            </p>
        </div>
            <div class="col-12" style="margin: 2% 5% 0">
                <iframe
                        src="https://drive.google.com/file/d/1eYcrAP2H9n01yU97vLMThkBOZR-QjEuU/preview" width="640" height="360" allow="autoplay">
                </iframe>
                <p>
                    Tech Talk 0.1 - Vision and Student Leadership
                </p>
            </div>
        <div>
            <div class="col-12" style="margin: 2% 5% 0">
                <iframe
                        src="https://drive.google.com/file/d/1_KBAmAkU_GeBEwam90N-iYMJb9ZmOAv3/preview" width="640" height="360" allow="autoplay">
                </iframe>
                <p>
                    Tech Talk 0.2 - Sprint and Scrum Board
                </p>
            </div>
        </div>
        <div>
            <div class="col-12" style="margin: 2% 5% 0">
                <iframe
                        src="https://drive.google.com/file/d/1W7Jv0jhkBvzn_ZfvVIqr_LP5KbB4XWte/preview" width="640" height="360" allow="autoplay">
                </iframe>
                <p>
                    Tech Talk 0.3 - Project Deliverable starting with Collaboration and Design
                </p>
            </div>
        </div>
        <div>
            <div class="col-12" style="margin: 2% 5% 3%">
                <iframe
                        src="https://drive.google.com/file/d/141Hd0c3zduhdHmHP6WxkoxqWnI55JPJ2/preview" width="640" height="360" allow="autoplay">
                </iframe>
                <p>
                    Tech Talk 0.4 - Tangible Artifacts
                </p>
            </div>
        </div>
        <div class="col-12" style="color:midnightblue;">
            <p>
                Placeholder
            </p>
        </div>
    </div>


{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}