<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

{% block background %}
{% endblock %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Home" %}
{% set subheading = "Work in Progress" %}
<!-- Change "imageurl" to a directory or link -->
{% set imageurl = "/static/assets/backgrounds/coloredclouds.jpg" %}

<!-- Add code inside the "block under" to add items below the block -->
{% block under %}

{% endblock %}

{% set overview = "https://nighthawkcodingsociety.com/projectsearch/details/Flask%20Portfolio%20Starter" %}
{% set repo = "https://github.com/nighthawkcoders/flask_portfolio/" %}