<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

{% block background %}
{% endblock %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Home Page" %}
<!-- Change "imageurl" to a directory or link -->
{% set imageurl = bgimage %}

{% block above %}


<div class="parallax" style="height: 5%">
<div class="row justify-content-end" style="padding: 2%;">
    <div class="frame" style="border-radius: 25px; padding: 5px; width: 80px; height: 50px;">
        <img type="button" title="Share to e-mail" style="height:60px;  background-color: #1da1f2; padding: 5px;border-radius: 30px;" src="/static/assets/emailicon.png" alt="Mail-Icon" onclick="location.href= 'mailto:?subject=Check%20out%20this%20website!&body=You%20should%20check%20out%20the%20Pac-Man%20Bytes%20Website!%20Here%20is%20their%20github%3A%20https%3A%2F%2Fgithub.com%2Fdtsivkovski%2Fpmbytesproject'">
    </div>
    <div class="frame" style="border-radius: 25px; padding: 5px; width: 80px; height: 50px">
        <a download="pacman.png" href="/static/assets/pacman.png" title="Download Image">
            <img src="/static/assets/minimg/pacman1.png" style="height:60px;  background-color: #1da1f2; padding: 5px;border-radius: 30px;" alt="Download">
        </a>
    </div>
</div>
</div>
{% endblock %}


<!-- Add code inside the "block under" to add items below the block -->
{% block under %}

    <!-- Uncomment the line below to leave gap between main title area and body -->
    <!-- <div class="parallax" style="height:20%"></div> -->
    <div class="parallax" style="height:max-content">
        <div class="frame" style="background-color: rgba(0,0,0, 0.5); width: 80%; margin: auto; align-items: center; ">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm" style="text-align: center; padding-top: 0">
                        <h4> Welcome to the Pac-Man Bytes and RandAnimal homepage!</h4>
                        <div class="d-flex justify-content-center" style="padding: 3rem">
                            <img src="/static/assets/minimg/pacman1.png" style="height: 10rem;">
                            <p style="visibility: hidden"> Spacer </p>
                            <div class="d-flex justify-content-center" style="background-color: #1da1f2; border-radius: 25px; height: 10rem; width: 10rem; padding: 0.5rem">
                                <img src="/static/assets/lizardicon-nicepng.png" style="background-color: #1da1f2; border-radius: 0px; height: 9rem;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% set overview = "https://nighthawkcodingsociety.com/projectsearch/details/Flask%20Portfolio%20Starter" %}
{% set repo = "https://github.com/nighthawkcoders/flask_portfolio/" %}