{% extends "layouts/base.html" %}

{% block background %}
{% endblock %}

{%  block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm" style="text-align: center; margin: 2% 0 1%">

                <div class="col-12" style="margin: 1% 5% 0">
                    <iframe
                            src="https://drive.google.com/file/d/1PaiwvEkYpN_Ou37D_mVsXO_Qq9D7NVzX/preview" width="480" height="270" allow="autoplay">
                    </iframe>
                    <p>
                        Tech Talk 0 - Tools and Equipment, showing competency in IntelliJ
                    </p>
                </div>
            </div>
            <div class="col-sm" style="text-align: center; margin: 2% 0 1%">

                <div>
                    <form action="/minilabs/" id="minilabs" method="POST" >
                        <label for="name">What is your name? </label>
                        <input name="name" id="name">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <p>
                    Hello, {{ name }}! Feel free to explore our mini-lab page!
                </p>

            </div>
            <div class="col-sm" style="text-align: center; margin: 2% 0 1%">
                <div class="col-12" style="margin: 2% 5% 0">
                    <iframe
                            src="https://drive.google.com/file/d/1eYcrAP2H9n01yU97vLMThkBOZR-QjEuU/preview" width="480" height="270" allow="autoplay">
                    </iframe>
                    <p>
                        Tech Talk 0.1 - Vision and Student Leadership
                    </p>
                </div>
            </div>
            <div class="col-sm">
                <div>
                    <div class="col-12" style="margin: 2% 5% 0">
                        <iframe
                                src="https://drive.google.com/file/d/1_KBAmAkU_GeBEwam90N-iYMJb9ZmOAv3/preview" width="480" height="270" allow="autoplay">
                        </iframe>
                        <p>
                            Tech Talk 0.2 - Sprint and Scrum Board
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

