{% extends "layouts/base.html" %}

{% block background %}
{% endblock %}

{%  block body %}
    <h1 style="text-align: center; margin: 2%"> Mini-Lab Page </h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm" style="text-align: center; margin: 2% 0 1%">

            </div>
            <div class="col-sm" style="text-align: center; margin: 0% 0 1%">

                <div>
                    <form action="/minilabs/" id="minilabs" method="POST" >
                        <label for="name">What is your name? </label>
                        <input name="name" id="name">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <p>
                    Hello, {{ name }}! Feel free to explore our mini-lab page!
                </p>

            </div>
            <div class="col-sm" style="text-align: center; margin: 2% 0 1%">

            </div>
        </div>
        <! Row 2 starts here>
        <div class="row">
            <div class="col-sm" style="text-align: center; margin: 2%">
                <div>
                    <iframe
                            src="https://drive.google.com/file/d/1PaiwvEkYpN_Ou37D_mVsXO_Qq9D7NVzX/preview" width="320" height="180" allow="autoplay">
                    </iframe>
                    <p>
                        Tech Talk 0 - Tools and Equipment
                    </p>
                </div>
            </div>
            <div class="col-sm" style="text-align: center; margin: 2%">
                <div>
                    <iframe
                            src="https://drive.google.com/file/d/1eYcrAP2H9n01yU97vLMThkBOZR-QjEuU/preview" width="320" height="180" allow="autoplay">
                    </iframe>
                    <p>
                        Tech Talk 0.1 - Vision and Student Leadership
                    </p>
                </div>
            </div>
            <div class="col-sm" style="text-align: center; margin: 2%">
                <div>
                    <iframe
                            src="https://drive.google.com/file/d/1_KBAmAkU_GeBEwam90N-iYMJb9ZmOAv3/preview" width="320" height="180" allow="autoplay">
                    </iframe>
                    <p>
                        Tech Talk 0.2 - Sprint and Scrum Board
                    </p>
                </div>
            </div>
            <div class="col-sm" style="text-align: center; margin: 2%">
                <div>
                    <iframe
                            src="https://drive.google.com/file/d/1W7Jv0jhkBvzn_ZfvVIqr_LP5KbB4XWte/preview" width="320" height="180" allow="autoplay">
                    </iframe>
                    <p>
                        Tech Talk 0.3 - Project Deliverable
                    </p>
                </div>
            </div>
            <div class="col-sm" style="text-align: center; margin: 2%">
                <div>
                    <iframe
                            src="https://drive.google.com/file/d/141Hd0c3zduhdHmHP6WxkoxqWnI55JPJ2/preview" width="320" height="180" allow="autoplay">
                    </iframe>
                    <p>
                        Tech Talk 0.4 - Tangible Artifacts
                    </p>
                </div>
            </div>
        </div>
        <!Row 3 starts here>
        <div class="row">

        </div>
    </div>
{% endblock %}

