<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% set project = "TITLE" %}
{% set subheading = "SUBHEADING" %}

<!-- Change "imageurl" to a directory or link
    This is the background image, so if you add any new images,
    make sure to add them to the backgrounds folder -->
{% set imageurl = "/static/assets/backgrounds/coloredclouds.jpg" %}

<!-- Add code inside the "block under" to add items below the block -->
{% block under %}

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
