<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% set project = "Tech Test" %}
{% set subheading = "Page to test new ideas or functionalities" %}

<!-- Change "imageurl" to a directory or link
    This is the background image, so if you add any new images,
    make sure to add them to the backgrounds folder -->
{% set imageurl = "/static/assets/backgrounds/deepwaterrock.jpg" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Add code inside the "block under" to add items below the block -->
{% block under %}

    <style>
        .btn {
            background-color: #FBEEC1;
            border: none;
            color: black;
            padding: 12px 30px;
            cursor: pointer;
            font-size: 20px;
        }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: rgba(218, 173, 134, 0.4);
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            padding: 5%
        }

    </style>

    <div class="parallax">

            <div class="center">
                <div class="icon-bar">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google"><i class="fa fa-google"></i></a>
                </div>
                <p>
                    <img src="/static/assets/minimg/pacman1.png" style="height: 100%;">
                </p>
                <div class="btn">
                    <a download="pacman.png" href="/static/assets/pacman.png" title="Download">
                        <img alt="Download">
                    </a>
                </div>

            </div>

    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}