<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% set project = "Tech Test" %}
{% set subheading = "Page to test new ideas or functionalities" %}

<!-- Change "imageurl" to a directory or link
    This is the background image, so if you add any new images,
    make sure to add them to the backgrounds folder -->
{% set imageurl = "/static/assets/backgrounds/deepwaterrock.jpg" %}

<!-- Add code inside the "block under" to add items below the block -->
{% block under %}

    <style>

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            padding: 5%
        }

    </style>

    <div class="parallax">

            <div class="center">
                <form action="https://github.com/dtsivkovski/flask_portfolio" method="get" target="_blank">
                    <button type="submit">TEST BUTTON</button>
                </form>
            </div>

    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}