<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% set project = "Tech Test" %}
{% set subheading = "Page to test new ideas or functionalities" %}

<!-- Change "imageurl" to a directory or link
    This is the background image, so if you add any new images,
    make sure to add them to the backgrounds folder -->
{% set imageurl = "/static/assets/backgrounds/deepwaterrock.jpg" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Add code inside the "block under" to add items below the block -->
{% block under %}

    <style>
        .btn {
            background-color: #FBEEC1;
            border: none;
            color: black;
            padding: 12px 30px;
            cursor: pointer;
            font-size: 20px;
        }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: rgba(218, 173, 134, 0.4);
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            padding: 5%
        }
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
        }

    </style>
    <div class="parallax">
            <div class="center">
                <div class="frame" style="background-color: #1da1f2; border-radius: 25px; padding: 25px">
                    <img type="button" style=" height:200px;  background-color: #1da1f2; border-radius: 25px;" src="/static/assets/emailicon.png" alt="Mail-Icon" onclick="location.href= 'mailto:?subject=Check%20out%20this%20website!&body=You%20should%20check%20out%20the%20Pac-Man%20Bytes%20Website!%20Here%20is%20their%20github%3A%20https%3A%2F%2Fgithub.com%2Fdtsivkovski%2Fpmbytesproject'">
                </div>
                <div class="frame" style="background-color: #333333; border-radius: 25px; padding: 25px">
                    <a download="pacman.png" href="/static/assets/pacman.png" title="Download">
                        <img src="/static/assets/minimg/pacman1.png" style="height:200px;" alt="Download">
                    </a>
                </div>
            </div>
        <div class="d-flex justify-content-center"><h3>Click the MAIL to SHARE our WEBSITE!</h3></div>
        <div class="d-flex justify-content-center"><h3>Click the PACMAN to DOWNLOAD IT!</h3></div>
    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}