<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

{% set project = "Wireframe" %}
{% set subheading = " " %}

<!-- Change "imageurl" to a directory or link
    This is the background image, so if you add any new images,
    make sure to add them to the backgrounds folder -->
{% set imageurl = "/static/assets/backgrounds/forest2.jpg" %}

<!-- Add code inside the "block under" to add items below the block -->
{% block under %}
    <div class="parallax" style="height:max-content">
        <div class="frame" style="background-color: rgba(0,0,0, 0.5); width: 80%; margin: auto; align-items: center; ">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm" style="text-align: center; padding-top: 0">
                        <div class="img-wrap">
                            <img src="/static/assets/Wireframe - Randanimal HOME.JPG" style="height: 300px">
                            <p style="padding: 3%">
                                This is a basic design wireframe for the home page of our website. As you can see, a randomize button is featured for the animal picture along with different categories at the top you can choose.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
